.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.header {
    background-color:#2a2a2a;
}

@media (min-width: 900px) {
    .content-wrapper {
        /*border: 5px solid black;*/
        position: relative;
        bottom: 5rem;
        background-color: #FFF;
        margin: 0% 10%;
        padding: 40px 50px;
    }
}
@media (max-width: 900px) {
    .content-wrapper {
        /*border: 5px solid black;*/
        /*background-color: aqua;*/
        padding: 10px 10px;
    }
}

.content-wrapper {
    padding-bottom: 10px;
    min-height: 300px;
}