
 <div class="container-fluid"> 

    <div class="header">
        <app-htw-header></app-htw-header>
    </div>

    <app-htw-sub-header></app-htw-sub-header>

    <div class="content-wrapper">
        <div class="look-list">
            <div class="look">
                <div class="row">
                    <div class="col-md-5 look-img-wrapper">
                        <img class="look-img" src="assets/look.jpg" />
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col">
                                
                            </div>
                            <div class="col">
                                
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>