<app-htw-look [moreChoiceButtonEnabled]="false"></app-htw-look>
        
        <app-htw-title-center [title]="'PLUS DE CHOIX'" ></app-htw-title-center>

        <div class="look-detail-list-articles">

            <!-- 1 -->
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- 1 -->
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- 1 -->
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- 1 -->
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- 1 -->
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- 1 -->
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                        <div class="col-sm">
                            <app-htw-article></app-htw-article>
                        </div>
                    </div>
                </div>
            </div> 

        </div>  