.look {
    /*border: 1px solid red;*/
}
div.look-img-wrapper {
    /*border: 1px solid goldenrod;*/
    position: relative;
    text-align: center;
    margin: 20px 10px;
}
img.look-img {
    /*border: 1px solid black;*/
    height: 95%;
    width: 100%;
}
.look .col , .look .col-md {
    /*border: 1px solid salmon;*/
}
div.look-more-choice {
    background-color: rgb(237, 168, 32);
    text-transform: uppercase;
    font-weight: 700;
    width: 55%;
    padding: 11px 1px;
    position: absolute;
    bottom: 25%;
    left: 20%;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color .45s ease .09s;
}
div.look-more-choice:hover {
    background-color: rgba(255, 170, 1, 0.904);
}
@media (min-width: 350px) {
    div.look-more-choice:before {
        content: ">";
        right: 12px;
        top: -1px;
        height: 100%;
        width: 2.2em;
        font-size: 1.7em;
        display: flex;
        position: absolute;
        justify-content: flex-end;
        align-items: center;
        font-weight: 500;
        line-height: 1;
        z-index: 1;
    }
}

div.article-wrapper {
    /*border: 1px solid goldenrod;*/
    height: 100%;
    margin-bottom: 17px;
}

div.article-infos-row-1,
div.article-infos-row-2,
div.article-infos-row-3  {
    /*border: 1px solid grey;*/
    color: rgba(0, 0, 0, 0.7);
}

div.article-img-wrapper {
    /*border: 1px solid red;*/
    position: relative;
    left: 5%;
}
div.article-infos {
    text-align: center;
}
div.article-infos-brand {
    font-weight: 650;
    color: rgba(0, 0, 0, 0.9)
}
span.article-infos-price-whole-part {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8)
}

@media (min-width : 766px) {
    img.article-img {
        height: 100%;
        width: 100%;
    }
}
@media (max-width : 766px) {
    img.article-img {
        height: 100%;
        max-height: 300px;
        width: 75%;
        position: relative;
        left: 8%;
    }
}