<div class="look">
    <div class="row">

        <div class="col-md-5 look-img-wrapper">
            <a routerLink="/look/detail">
                <img [src]="imageLookPath" class="look-img" />
                <div *ngIf="moreChoiceButtonEnabled" class="look-more-choice">
                    PLUS DE CHOIX
                </div>
            </a>
        </div>

        <div class="col-md">

            <div class="row article-img-row">

                <ng-container *ngFor="let in of counter(3); let i = index">
                    <div class="col-md">
                    <app-htw-article [article]="getArticleByRankAndLookArticleAssociationType(i + 1, lookArticleAssociationType.Principal)" ></app-htw-article>
                    </div>
                </ng-container>

            </div>
            
            <div class="row article-img-row">

                <ng-container *ngFor="let in of counter(3); let i = index">
                    <div class="col-md">
                        <app-htw-article [article]="getArticleByRankAndLookArticleAssociationType(i + 4, lookArticleAssociationType.Principal)" ></app-htw-article>
                    </div>
                </ng-container>                

            </div>
        </div>
    </div>
</div>