<div class="look">
    <div class="row">

        <div class="col-md-5 look-img-wrapper">
            <a href="#">
                <img src="assets/look.jpg" class="look-img" />
                <div class="look-more-choice">
                    PLUS DE CHOIX
                </div>
            </a>
        </div>

        <div class="col-md">

            <div class="row article-img-row">

                <div class="col-md article-wrapper">
                    <a href="#">
                        <div class="article-img-wrapper">
                            <img src="assets/chemise.jpg" class="article-img"/>
                        </div>
                        <div class="article-infos">
                            <div class="row article-infos-row-1">
                                <div class="col article-infos-brand">River Island</div>
                            </div>
                            <div class="row article-infos-row-2">
                                <div class="col"><span class="article-infos-price-whole-part">36</span>,95 €</div>
                            </div>
                            <div class="row article-infos-row-3">
                                <div class="col">Chemise - black</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md article-wrapper">
                    <a href="#">
                        <div class="article-img-wrapper">
                            <img src="assets/chemise.jpg" class="article-img"/>
                        </div>
                        <div class="article-infos">
                            <div class="row article-infos-row-1">
                                <div class="col article-infos-brand">River Island</div>
                            </div>
                            <div class="row article-infos-row-2">
                                <div class="col"><span class="article-infos-price-whole-part">36</span>,95 €</div>
                            </div>
                            <div class="row article-infos-row-3">
                                <div class="col">Chemise - black</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md article-wrapper">
                    <a href="#">
                        <div class="article-img-wrapper">
                            <img src="assets/chemise.jpg" class="article-img"/>
                        </div>
                        <div class="article-infos">
                            <div class="row article-infos-row-1">
                                <div class="col article-infos-brand">River Island</div>
                            </div>
                            <div class="row article-infos-row-2">
                                <div class="col"><span class="article-infos-price-whole-part">36</span>,95 €</div>
                            </div>
                            <div class="row article-infos-row-3">
                                <div class="col">Chemise - black</div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            
            <div class="row article-img-row">

                <div class="col-md article-wrapper">
                    <a href="#">
                        <div class="article-img-wrapper">
                            <img src="assets/chemise.jpg" class="article-img"/>
                        </div>
                        <div class="article-infos">
                            <div class="row article-infos-row-1">
                                <div class="col article-infos-brand">River Island</div>
                            </div>
                            <div class="row article-infos-row-2">
                                <div class="col"><span class="article-infos-price-whole-part">36</span>,95 €</div>
                            </div>
                            <div class="row article-infos-row-3">
                                <div class="col">Chemise - black</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md article-wrapper">
                    <a href="#">
                        <div class="article-img-wrapper">
                            <img src="assets/chemise.jpg" class="article-img"/>
                        </div>
                        <div class="article-infos">
                            <div class="row article-infos-row-1">
                                <div class="col article-infos-brand">River Island</div>
                            </div>
                            <div class="row article-infos-row-2">
                                <div class="col"><span class="article-infos-price-whole-part">36</span>,95 €</div>
                            </div>
                            <div class="row article-infos-row-3">
                                <div class="col">Chemise - black</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md article-wrapper">
                    <a href="#">
                        <div class="article-img-wrapper">
                            <img src="assets/chemise.jpg" class="article-img"/>
                        </div>
                        <div class="article-infos">
                            <div class="row article-infos-row-1">
                                <div class="col article-infos-brand">River Island</div>
                            </div>
                            <div class="row article-infos-row-2">
                                <div class="col"><span class="article-infos-price-whole-part">36</span>,95 €</div>
                            </div>
                            <div class="row article-infos-row-3">
                                <div class="col">Chemise - black</div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>