<div class="article-wrapper">

    <a [href]="(article.shoppingUrl) ? article.shoppingUrl : '#'" [target]="_blank">
        <div class="article-img-wrapper">
            <img width="90%" height="100%" [src]="(article.images[3])? article.images[3] : article.images[0]" />
            
            <div class="article-more-choice" *ngIf="article.shoppingSiteName">
                    VOIR SUR {{article.shoppingSiteName | uppercase}}
            </div>
        </div>
        <div class="article-infos">
            <div class="row article-infos-row-1">
                <div class="col article-infos-brand">{{article.brand}}</div>
            </div>
            <div class="row article-infos-row-2">
                <div class="col"><span class="article-infos-price-whole-part">{{priceWholePart}}</span>,{{priceDecimalPart}} €</div>
            </div>
            <div class="row article-infos-row-3">
                <div class="col">{{article.description}}</div>
            </div>
        </div>
    </a>
</div>