 <div class="header">

  <div class="row header-top">
    <div class="col">
      <a routerLink="/look/list">
        <div class="fa-icon">
          <i class="fa fa-home"><p>Acceuil</p></i>
        </div>
      </a>
    </div>
    <div class="col header-logo">
        <!-- <a routerLink="/look/list"><img src="assets/htw-logo.png"/></a> -->
        <a routerLink="/look/list">
          Zalando <span class="logo-second-part-color">prive</span>
        </a>
    </div>
    <div class="col header-right-elements">
        <a href="">
          <div class="fa-icon">
            <i class="fa fa-pinterest-p"></i>
          </div>
        </a>
        <a href="">
          <div class="fa-icon">
            <i class="fa fa-instagram"></i>
          </div>
        </a>
        <a href="">
          <div class="fa-icon">
            <i class="fa fa-facebook-f"></i>
          </div>
        </a>
    </div>
  </div>

  <div class="row header-middle">
    <div class="col">
        <!-- <a routerLink="/look/list"><img src="assets/htw-logo.png"/></a> -->
        <a routerLink="/look/list">
          Zalando <span class="logo-second-part-color">prive</span>
        </a>
    </div>
  </div>

  <div class="row header-bottom">
      <div class="col">
        <a href="">
            <i class="fa fa-home"></i>
        </a>
      </div>
      <div class="col">
        <a href="">
            <i class="fa fa-facebook-f"></i>
        </a>
      </div>
      <div class="col">
        <a href="">
            <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="col">
        <a href="">
            <i class="fa fa-pinterest-p"></i>
        </a>
      </div>
  </div>

</div>