@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    font-family: Roboto-Condensed,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

a, a:hover {
    color: inherit;
    text-decoration: inherit;
}

.row {
    margin-right: 0px !important; /* fix bug*/
}